<div class="component-wrapper">
    <p class="about-text">
        Celebrate Mobile aboard one of our beautiful climate controlled trolleys. Hear our history, experience our
        culture, see our natural beauty, feel our soul, and enjoy the heart of our beautiful city. Pick up the
        rhythm of the pace where Mardi Gras began and you will know why we are *Born to Celebrate*! Our 90-minute
        fully narrated tour takes you down moss covered streets in front of buildings with stories to tell and along
        one of the most diverse eco-systems in the country. Here, a rich past meets a modern thriving culture with
        something to offer everyone. Museums, historic homes and buildings, parks, fountains, music, food, drink,
        and entertainment all abound along our route. It's all "So Mobile"!
    </p>
</div>

@code {

}