<div class="row component-wrapper">
    <div class="col-lg-4 about-intro col-md-12">
        <span>Celebrate Mobile aboard one of our beautiful climate controlled trolleys</span>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-7 col-md-12 about-text">
        Pick up the rhythm of the place where Mardi Gras began and you will know why we are
        <span class="yellow-accent">Born to Celebrate!</span>
        Our 90-minute fully narrated tour takes you down moss covered streets in front of buildings with stories to tell and along
        one of the most diverse eco-systems in the country. Here, a rich past meets a modern thriving culture with
        something to offer everyone. Museums, historic homes and buildings, parks, fountains, music, food, drink,
        and entertainment all abound along our route. It's all <span class="yellow-accent">So Mobile!</span>
    </div>
</div>

@code {

}