.component-wrapper {
    padding-left: 80px;
}

.about-text {
    line-height: 160%;
}

.about-intro {
    font-size: 40px;
    padding-bottom: 10px;
}

.yellow-accent {
    color: #ffca0b;
    font-size: 30px;
}
