<div id="sched-changes" class="nav-wrapper">
    <ul class="nav justify-content-center">
        <li class="changes">
            <p>Please note these changes to the regularly scheduled tours. Tours <span>WILL NOT</span> be operating on the following dates/times:</p>
            <ul>
                <li><span>July 25th</span> (Wednesday) - <span>1:05pm</span> from the USS Alabama & <span>2:00pm</span> from the Mobile Welcome Center</li>
                <li><span>July 31st</span> through <span>September 5th</span> - <span>NO TOURS</span></li>
                <ul>
                    <li>Some dates will be available for group or event tours. Please call 251-633-0560 x5 for details.</li>
                </ul>
            </ul>
        </li>
    </ul>
</div>

@code {

}
