<div id="sched-changes" class="nav-wrapper">
    <ul class="nav justify-content-center">
        <li class="changes">

            @*<p>
                Please note that The Mobile Historic Trolley Tours will be taking our <span>
                    August Hiatus
                    starting on the 30th of July
                </span> and <span>resuming on the 6th of September</span>.
                There will be no tours during this time <span class="white-text">*</span>.
                <br />
            <p class="footnote"><span class="white-text">*</span> Some dates will be available for group or event tours. Please call 251-633-0560 x5 for details.</p>
            </p>*@

            <p>
                <ul>
                    @*<li>
                        On <span>Saturday, October 22nd</span> tours<span> WILL NOT</span> be operating.
                    </li>
                    <br />*@
                    <li>
                        From <span>Monday, November 21st through Monday, November 28th</span> tours<span> WILL NOT</span> be operating due to the Thanksgiving holiday.
                    </li>
                </ul>
            </p>

        @*<p>Please note these changes to the regularly scheduled tours. Tours <span>WILL NOT</span> be operating on the following dates/times:</p>*@
        @*<ul>
            <li>
                The Mobile Historic Trolley Tours will be taking our <span>August Hiatus
                starting on the 30th of July</span> and <span>resuming on the 6th of September</span>. There will be no tours during this time <span class="white-text">*</span>.
            </li>
            <br>
            <span class="white-text">*</span> Some dates will be available for group or event tours. Please call 251-633-0560 x5 for details.
        </ul>*@

        </li>
    </ul>
</div>

@code {

}
