<div>
    <p><span>Office:</span> 251-633-0560</p>
    <p><span>Fax:</span> 251-633-4012</p>
    <p><span>Email:</span> sales@gctbus.com</p>
    <p><span>Book a tour:</span> WWW.GCTBUS.COM</p>
</div>

@code {

}

