<div class="row component-wrapper">
    @*<div class="row">*@

        <div class="col-lg-4 col-md-0"></div>

        <div class="col-lg-4 col-md-2 card one">
            <img src="images/handicap_sign.jpg " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Wheelchair lift available</h5>
                <h6 class="card-subtitle mb-2 text-muted">(by request only)</h6>
                <p class="card-text"></p>
            </div>
        </div>

        <div class="col-lg-4 col-md-2 card two">
            <img src="images/scottie_dog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">We are dog friendly</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text"></p>
            </div>
        </div>

    @*</div>*@
</div>

@code {

}

