<div class="component-wrapper">
    <div class="row">

        <div class="col-1"></div>

        <div class="handicap card col-5 mb-5" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/handicap_sign.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Wheel chair lift available</h5>
                        <p class="card-text">by request only</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-5 mb-5" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/scottie_dog.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">We are dog friendly</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    @code {

    }

