<div class="container col-xxl-12 col-12 px-4 py-5 col-md-12">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 alert-banner-padding">
        <div class="col-10 col-lg-6 col-sm-10">
            <img src="images/trolley_logo_hi-rez_no_bg_2.png" class="d-block mx-lg-auto img-fluid col-md-offset-5" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6 col-md-12">
            <h1 class="display-5 fw-bold lh-1 mb-3 main-headline">City of Mobile Trolley Tour</h1>
            <p class="lead">
                Hear our history, experience our culture, see our natural beauty, feel our soul, and enjoy the heart of our beautiful city.
            </p>
            <div id="button-container" class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a type="button" class="btn btn-lg" href="https://www.gctbus.com/tours" target="_blank">Book a tour</a>
            </div>
        </div>
    </div>
</div>

@code {

}