<div class="row component-wrapper">
    <h3>Ask about our other available trips</h3>

    <div class="col-lg-8 col-md-12 mb-4">

        <div class="list-group-flush">
            <div class="list-group-item">
                <img class="rounded-circle" src="images/alabama_icon.png" />
                <span class="mb-0"><i class="fab fa-2x mr-4 p-3 white-text rounded" aria-hidden="true"></i>Alabama football home games</span>
            </div>
            <div class="list-group-item">
                <img class="rounded-circle" src="images/saints_icon.png" />
                <span class="mb-0"><i class="fab fa-2x mr-4 mr-4 p-3 white-text rounded" aria-hidden="true"></i>New Orleans Saints home games</span>
            </div>
            <div class="list-group-item">
                <img class="rounded-circle" src="images/mardi_gras_icon.png" />
                <span class="mb-0"><i class="fab fa-2x mr-4 mr-4 p-3 white-text rounded" aria-hidden="true"></i>Mardi Gras trips to New Orleans</span>
            </div>
            <div class="list-group-item">
                <img class="rounded-circle" src="images/casino_icon.png" />
                <span class="mb-0"><i class="fab fa-2x mr-4 mr-4 p-3 white-text rounded" aria-hidden="true"></i>Casino Trips to Biloxi</span>
            </div>
        </div>

    </div>
</div>

@code {

}