<div class="component-wrapper">
    <h3>Other Available Trips</h3>
    <ul>
        <li>Alabama football home games</li>
        <li>New Orleans Saints home games</li>
        <li>Mardi Gras trips to New Orleans</li>
        <li>Casino Trips to Biloxi</li>
    </ul>
</div>

@code {

}

