<div>
    <h2>Route Highlights</h2>
    <ul>
        <li>Fort Conde</li>
        <li>Church Street Cemetery</li>
        <li>Callahan's Irish Bar / Washington Square</li>
        <li>Oakleigh Historic Complex</li>
        <li>Carnival Museum</li>
        <li>Gulf Quest/AL Cruise and Convention Center</li>
        <li>Battle House Hotel</li>
        <li>Richard's DAR House</li>
        <li>Agrican American Museum</li>
        <li>Cathedral</li>
        <li>Beinville Square</li>
        <li>USS Alabama</li>
    </ul>
</div>

@code {

}

