<div class="component-wrapper">
    <h2>Route Highlights</h2>

    <div class="list-group">
        <a class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Colonial Fort Condé</h5>
                <small>3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small>And some small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Church Street Cemetery</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Callahan's Irish Bar / Washington Square</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Oakleigh Historic Complex</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Carnival Museum</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Gulf Quest/AL Cruise and Convention Center</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Battle House Hotel</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Richard's DAR House</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Agrican American Museum</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Cathedral</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">Beinville Square</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>

        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 list-item">USS Alabama</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            @*<p class="mb-1">Some placeholder content in a paragraph.</p>*@
            @*<small class="text-muted">And some muted small print.</small>*@
        </a>
    </div>

</div>

@code {

}

