<div class="component-wrapper">

    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col-lg-0 col-md-12"><h3 class="main-text mobile-view">Tours depart from two convenient locations</h3></div>

        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card one">
                <img src="images/welcome_center.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Visit Mobile Welcome Center</h5>
                    <a href="https://goo.gl/maps/Hbr59dZmF6VdiS2M6" target="_blank" class="card-text">111 South Royal Street</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card">
                <img src="images/battleship_above.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">USS Alabama Battleship</h5>
                    <a href="https://goo.gl/maps/GVv1YszRjfos8wBc6" target="_blank" class="card-text">2703 Battleship Parkway</a>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-3"><h3 class="main-text desktop-view">Tours depart from two convenient locations</h3></div>

        @*<div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>*@
        @*<div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>*@
    </div>




    @*<div class="row">
        <div class="col-10">
            <div class="card">
                <img src="images/welcome_center.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Visit Mobile Welcome Center</h5>
                    <a href="https://goo.gl/maps/Hbr59dZmF6VdiS2M6" target="_blank" class="card-text">111 South Royal Street</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <div class="card">
                <img src="images/battleship_above.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">USS Alabama Battleship</h5>
                    <a href="https://goo.gl/maps/GVv1YszRjfos8wBc6" target="_blank" class="card-text">2703 Battleship Parkway</a>
                </div>
            </div>
        </div>
    </div>*@

</div>

@code {

}

