<div class="component-wrapper">

    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col-md-12 mobile">
            <div class="c-box c-box--arrow-bottom">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                </svg>
                <h3 class="main-text">Tours depart from two convenient locations</h3>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 d-flex align-items-stretch">
            <div class="card first">
                <img src="images/welcome_center.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Visit Mobile Welcome Center</h5>
                    <a href="https://goo.gl/maps/Hbr59dZmF6VdiS2M6" target="_blank" class="card-text">111 South Royal Street</a>
                </div>
            </div>

            <div class="card second mobile">
                <img src="images/battleship_above.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">USS Alabama Battleship</h5>
                    <a href="https://goo.gl/maps/GVv1YszRjfos8wBc6" target="_blank" class="card-text">2703 Battleship Parkway</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-5 d-flex align-items-stretch desktop">
            <div class="card desktop">
                <img src="images/battleship_above.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">USS Alabama Battleship</h5>
                    <a href="https://goo.gl/maps/GVv1YszRjfos8wBc6" target="_blank" class="card-text">2703 Battleship Parkway</a>
                </div>
            </div>
        </div>

        <div class="col-lg-1 col-md-0"></div>

        <div class="col-lg-3 desktop">
            <div class="c-box c-box--arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                </svg>
                <h3 class="main-text desktop-view">Tours depart from two convenient locations</h3>
            </div>
        </div>

        @*<div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>*@
        @*<div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>*@
    </div>




    @*<div class="row">
        <div class="col-10">
            <div class="card">
                <img src="images/welcome_center.jpeg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Visit Mobile Welcome Center</h5>
                    <a href="https://goo.gl/maps/Hbr59dZmF6VdiS2M6" target="_blank" class="card-text">111 South Royal Street</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <div class="card">
                <img src="images/battleship_above.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">USS Alabama Battleship</h5>
                    <a href="https://goo.gl/maps/GVv1YszRjfos8wBc6" target="_blank" class="card-text">2703 Battleship Parkway</a>
                </div>
            </div>
        </div>
    </div>*@

</div>

@code {

}

