<div class="component-wrapper">
    @*<div class="card-header col-sm-8">
            Tours leave from the following locations:
        </div>
        <div class="card-group col-sm-8">
            <div class="card">
                <img src="images/visitor_center.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Visit Mobile Welcome Center</h5>
                    <p class="card-text">111 South Royal Street, Mobile, AL 36602</p>
                </div>
            </div>
            <div class="card">
                <img src="images/battleship.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">USS Alabama Battleship</h5>
                    <p class="card-text">2703 Battleship Parkway, Mobile, AL 36603</p>
                </div>
            </div>
        </div>*@





    <div class="main-text">
        <h3>Tours leave from the following locations</h3>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="images/visitor_center.png" class="card-img-top" />
                    <h5 class="card-title">Visit Mobile Welcome Center</h5>
                    <p class="card-text">111 South Royal Street, Mobile, AL 36602</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="images/battleship.png" class="card-img-top" />
                    <h5 class="card-title">USS Alabama Battleship</h5>
                    <p class="card-text">2703 Battleship Parkway, Mobile, AL 36603</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">


                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">$20.00 per person</h5>
                        </div>
                    </div>

                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">kids 12 and under are free</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>



    @*<div>
            <h3>Only $20.00 per person</h3>
            <h3>kids 12 and under are free!</h3>
        </div>*@




</div>

@code {

}

