<div>
    <p>Tours leave from the following locations:</p>
    <div>
        <p>Visit Mobile Welcome Center</p>
        <p>111 South Royal Street, Mobile, AL 36602</p>
    </div>
    <div>
        <p>USS Alabama Battleship</p>
        <p>2703 Battleship Parkway, Mobile, AL 36603</p>
    </div>
</div>

@code {

}

