<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Welcome Center</th>
            <th scope="col">USS Alabama Battleship</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Friday</th>
            <td>10:00 am | 12:00 pm</td>
            <td>11:05 am</td>
        </tr>
        <tr>
            <th scope="row">Saturday</th>
            <td>10:00 am</td>
            <td>11:05 am</td>
        </tr>
        <tr>
            <th scope="row">Sunday</th>
            <td>- no tours -</td>
            <td>- no tours -</td>
        </tr>
        <tr>
            <th scope="row">Monday</th>
            <td>- no tours -</td>
            <td>- no tours -</td>
        </tr>
        <tr>
            <th scope="row">Tuesday</th>
            <td>10:00 am   |   12:00 pm   |   2:00 pm</td>
            <td>11:05 am   |   1:05 pm</td>
        </tr>
        <tr>
            <th scope="row">Wednesday</th>
            <td>10:00 am   |   12:00 pm   |   2:00 pm</td>
            <td>t11:05 am   |   1:05 pm</td>
        </tr>
        <tr>
            <th scope="row">Thursday</th>
            <td>10:00 am   |   12:00 pm   |   2:00 pm</td>
            <td>11:05 am   |   1:05 pm</td>
        </tr>
    </tbody>
</table>


@*<div>
    <h2>Tour Schedules</h2>
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-baqh"></th>
                <th class="tg-0lax">Welcome Center</th>
                <th class="tg-0lax">USS Alabama Battleship</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-0lax">Friday</td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">10:00 am   |   12:00 pm</span></td>
                <td class="tg-0lax">11:05 am</td>
            </tr>
            <tr>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">Saturday</span></td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">10:00 am</span></td>
                <td class="tg-0lax">11:05 am</td>
            </tr>
            <tr>
                <td class="tg-0lax">Sunday</td>
                <td class="tg-0lax">[ no tours ]</td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">[ no tours ]</span></td>
            </tr>
            <tr>
                <td class="tg-0lax">Monday</td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">[ no tours ]</span></td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">[ no tours ]</span></td>
            </tr>
            <tr>
                <td class="tg-0lax">Tuesday</td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">10:00 am   |   12:00 pm   |   2:00 pm</span></td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">11:05 am   |   1:05 pm</span></td>
            </tr>
            <tr>
                <td class="tg-0lax">Wednesday</td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">10:00 am   |   12:00 pm   |   2:00 pm</span></td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">11:05 am   |   1:05 pm</span></td>
            </tr>
            <tr>
                <td class="tg-0lax">Thursday</td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">10:00 am   |   12:00 pm   |   2:00 pm</span></td>
                <td class="tg-0lax"><span style="font-weight:400;font-style:normal">11:05 am   |   1:05 pm</span></td>
            </tr>
        </tbody>
    </table>
</div>*@

@code {

}