<div class="component-wrapper">
    <table class="table schedule-table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th class="table-header" scope="col">Welcome Center</th>
                <th class="table-header" scope="col">USS Alabama Battleship</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Friday</th>
                <td>
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                </td>
                <td>
                    <span class="badge bg-secondary">11:05 am</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Saturday</th>
                <td>
                    <span class="badge bg-secondary">10:00 am</span>
                </td>
                <td>
                    <span class="badge bg-secondary">11:05 am</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Sunday</th>
                <td>- no tours running -</td>
                <td>- no tours running -</td>
            </tr>
            <tr>
                <th scope="row">Monday</th>
                <td>- no tours running -</td>
                <td>- no tours running -</td>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <td>
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                    <span class="badge bg-secondary">2:00 pm</span>
                </td>
                <td>
                    <span class="badge bg-secondary">11:05 am</span>
                    <span class="badge bg-secondary">1:05 pm</span>   
                </td>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <td>
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                    <span class="badge bg-secondary">2:00 pm</span>
                </td>
                <td>
                    <span class="badge bg-secondary">11:05 am</span>
                    <span class="badge bg-secondary">1:05 pm</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Thursday</th>
                <td>
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                    <span class="badge bg-secondary">2:00 pm</span>
                </td>
                <td>
                    <span class="badge bg-secondary">11:05 am</span>
                    <span class="badge bg-secondary">1:05 pm</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    @code {

    }
