<div class="component-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Welcome Center</th>
                <th scope="col">USS Alabama Battleship</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Friday</th>
                <td>10:00 am | 12:00 pm</td>
                <td>11:05 am</td>
            </tr>
            <tr>
                <th scope="row">Saturday</th>
                <td>10:00 am</td>
                <td>11:05 am</td>
            </tr>
            <tr>
                <th scope="row">Sunday</th>
                <td>- no tours -</td>
                <td>- no tours -</td>
            </tr>
            <tr>
                <th scope="row">Monday</th>
                <td>- no tours -</td>
                <td>- no tours -</td>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <td>10:00 am   |   12:00 pm   |   2:00 pm</td>
                <td>11:05 am   |   1:05 pm</td>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <td>10:00 am   |   12:00 pm   |   2:00 pm</td>
                <td>t11:05 am   |   1:05 pm</td>
            </tr>
            <tr>
                <th scope="row">Thursday</th>
                <td>10:00 am   |   12:00 pm   |   2:00 pm</td>
                <td>11:05 am   |   1:05 pm</td>
            </tr>
        </tbody>
    </table>
</div>

    @code {

    }
