<div class="row component-wrapper">
    <table class="col-lg-12 col-md-0 table schedule-table desktop-view">
        <thead>
            <tr>
                <th scope="col"></th>
                <th class="table-header" scope="col">Welcome Center</th>
                <th class="table-header" scope="col">USS Alabama Battleship</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Fri<span>day</span></th>
                <td label="Welcome Ctr">
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                </td>
                <td label="Battleship">
                    <span class="badge bg-secondary">11:05 am</span>
                </td>
            </tr>
            <tr>
                <th label="Sat" scope="row">Sat<span>urday</span></th>
                <td label="Welcome Ctr">
                    <span class="badge bg-secondary">10:00 am</span>
                </td>
                <td label="Battleship">
                    <span class="badge bg-secondary">11:05 am</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Sun<span>day</span></th>
                <td label="Welcome Ctr">- no tours available -</td>
                <td label="Battleship">- no tours available -</td>
            </tr>
            <tr>
                <th scope="row">Mon<span>day</span></th>
                <td label="Welcome Ctr">- no tours available -</td>
                <td label="Battleship">- no tours available -</td>
            </tr>
            <tr>
                <th scope="row">Tue<span>sday</span></th>
                <td label="Welcome Ctr">
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                    <span class="badge bg-secondary">2:00 pm</span>
                </td>
                <td label="Battleship">
                    <span class="badge bg-secondary">11:05 am</span>
                    <span class="badge bg-secondary">1:05 pm</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Wed<span>nesday</span></th>
                <td label="Welcome Ctr">
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                    <span class="badge bg-secondary">2:00 pm</span>
                </td>
                <td label="Battleship">
                    <span class="badge bg-secondary">11:05 am</span>
                    <span class="badge bg-secondary">1:05 pm</span>
                </td>
            </tr>
            <tr>
                <th scope="row">Thu<span>rsday</span></th>
                <td label="Welcome Ctr">
                    <span class="badge bg-secondary">10:00 am</span>
                    <span class="badge bg-secondary">12:00 pm</span>
                    <span class="badge bg-secondary">2:00 pm</span>
                </td>
                <td label="Battleship">
                    <span class="badge bg-secondary">11:05 am</span>
                    <span class="badge bg-secondary">1:05 pm</span>
                </td>
            </tr>
        </tbody>
    </table>



    @*<table class="table schedule-table mobile-view">
            <thead col-md-10>
                <tr>
                    <th scope="col"></th>
                    <th class="table-header" scope="col">Welcome Center</th>
                    <th class="table-header" scope="col">USS Alabama Battleship</th>
                </tr>
            </thead>
            <tbody col-md-10>
                <tr>
                    <th scope="row">Fri</th>
                    <td>
                        <span class="badge bg-secondary">10:00 am</span>
                        <span class="badge bg-secondary">12:00 pm</span>
                    </td>
                    <td>
                        <span class="badge bg-secondary">11:05 am</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Sat</th>
                    <td>
                        <span class="badge bg-secondary">10:00 am</span>
                    </td>
                    <td>
                        <span class="badge bg-secondary">11:05 am</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Sun</th>
                    <td>- no tours available -</td>
                    <td>- no tours available -</td>
                </tr>
                <tr>
                    <th scope="row">Mon</th>
                    <td>- no tours available -</td>
                    <td>- no tours available -</td>
                </tr>
                <tr>
                    <th scope="row">Tue</th>
                    <td>
                        <span class="badge bg-secondary">10:00 am</span>
                        <span class="badge bg-secondary">12:00 pm</span>
                        <span class="badge bg-secondary">2:00 pm</span>
                    </td>
                    <td>
                        <span class="badge bg-secondary">11:05 am</span>
                        <span class="badge bg-secondary">1:05 pm</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Wed</th>
                    <td>
                        <span class="badge bg-secondary">10:00 am</span>
                        <span class="badge bg-secondary">12:00 pm</span>
                        <span class="badge bg-secondary">2:00 pm</span>
                    </td>
                    <td>
                        <span class="badge bg-secondary">11:05 am</span>
                        <span class="badge bg-secondary">1:05 pm</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Thu</th>
                    <td>
                        <span class="badge bg-secondary">10:00 am</span>
                        <span class="badge bg-secondary">12:00 pm</span>
                        <span class="badge bg-secondary">2:00 pm</span>
                    </td>
                    <td>
                        <span class="badge bg-secondary">11:05 am</span>
                        <span class="badge bg-secondary">1:05 pm</span>
                    </td>
                </tr>
            </tbody>
        </table>*@

</div>

@code {

}
