table-header {
    font-size: x-large !important;
}

.badge {
    margin-right: 10px;
    color: white;
    background-color: #1a4954 !important;
    /*    border: 1px solid #1a4954;*/
}

@media screen and (max-width: 576px) {
    th {
        font-size: 16px;
    }

    td {
        font-size: 14px;
    }

    table thead {
        display: none;
    }

    table td {
        display: flex;
    }

        table td::before {
            content: attr(label);
            font-weight: bold;
            width: 120px;
            min-width: 120px;
        }
}