<div class="nav-wrapper">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <p>Please note that the following regularly scheduled tours <span>WILL NOT</span> be operating:</p>
            <ul>
                <li><span>1:05pm</span> from the USS Alabama on <span>Wednesday, July 25th</span></li>
                <li><span>2:00pm</span> from the Mobile Welcome Center on <span>Wednesday, July 25th</span>.</li>
            </ul>
        </li>
    </ul>
</div>

@code {

}