<div class="nav-wrapper">
    <div class="nav justify-content-center">
        <p>Please note there are changes to the regular tour schedule &nbsp; &nbsp;</p>
        <p>
            <button type="button" onclick="document.getElementById('sched-changes').scrollIntoView({behavior:'smooth'})">View Schedule Changes</button>
        </p>
    </div>

    @*<ul class="nav justify-content-center">
            <li class="nav-item">
                <p>Please note that the following regularly scheduled tours <span>WILL NOT</span> be operating on the following dates:<span>Wednesday, July 25th</span>:</p>
                <ul>
                    <li>Wednesday, July 25th - <span>1:05pm</span> from the USS Alabama &Aacute; <span>2:00pm</span> from the Mobile Welcome Center</li>
                    <li><span>2:00pm</span> from the Mobile Welcome Center</li>
                </ul>
            </li>
        </ul>*@
</div>

@code {

}