<div class="row">
    <div class="col-4"></div>
    <div class="contact-info-container float-right col-3">
        <address class="contact-info">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Office:</li>
                <li class="list-group-item">Fax:</li>
                <li class="list-group-item">Email:</li>
                <li class="list-group-item">Website:</li>
            </ul>
        </address>
    </div>
    <div class="col-5">
        <address class="contact-info">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">251-633-0560</li>
                <li class="list-group-item">251-633-4012</li>
                <li class="list-group-item">sales@gctbus.com</li>
                <li class="list-group-item">www.gctbus.com</li>
            </ul>
        </address>
    </div>
</div>

@code {

}

