footer-container {
/*    max-height: 50%*/
}

.left-container {
}

.center-container {
    margin-top: 30px;
    height: 100px;
}

.right-container {

}

.badge-container {
    margin-right: 40px;
}

.visit-badge-image,
.trolley-badge-image {
    max-height: 100%;
    max-width: 100%;
}

.visit-badge-image {
    border-radius: 50%;
    border: 1px solid black;
}

.sub-footer {
    font-size: small;
}

@media (max-width: 576px) {
    .visit-badge-image,
    .trolley-badge-image {
        max-height: 50%;
        max-width: 50%;
    }
}