<div class="footer-container">
    <footer class="text-white" style="background-color: #f1f1f1;">

        <div class="container pt-4">

            <div class="row desktop">
                @*<div class="left-container col-2"></div>*@

                @*desktop*@
                <div class="center-container desktop col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 badge-container">
                            <img src="images/visit_mobile_badge_2.png" class="visit-badge-image rounded-circle" />
                        </div>
                        <div class="col-lg-3 col-md-5 badge-container">
                            <img src="images/gctht_no_bg.png" class="trolley-badge-image" />
                        </div>
                        <div class="col-lg-3 col-md-1"></div>
                    </div>
                </div>

                @*mobile*@
                @*<div class="center-container mobile col-md-12">*@
                <div class="row mobile center-container">
                    <div class="col-md-5 badge-container">
                        <img src="images/visit_mobile_badge_2.png" class="visit-badge-image rounded-circle" />
                    </div>
                    <div class="col-md-5 badge-container">
                        <img src="images/gctht_no_bg.png" class="trolley-badge-image" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
                @*</div>*@

                <div class="right-container col-lg-6 col-md-6">
                    <ContactInfo />
                </div>
            </div>


            <div class="mobile">

                @*mobile*@
                @*<div class="row center-container mobile">
                    <div class="mobile center-container">
                        <div class="col-md-5 badge-container">
                            <img src="images/visit_mobile_badge_2.png" class="visit-badge-image rounded-circle" />
                        </div>
                        <div class="col-md-5 badge-container">
                            <img src="images/gctht_no_bg.png" class="trolley-badge-image" />
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>*@

                <div class="row">
                    <div class="col-6 badge-container">
                        <img src="images/visit_mobile_badge_2.png" class="visit-badge-image rounded-circle" />
                    </div>
                    <div class="col-6 badge-container">
                        <img src="images/gctht_no_bg.png" class="trolley-badge-image" />
                    </div>
                </div>

                <div class="row">
                    <ContactInfo />
                </div>
            </div>

        </div>

            <div class="text-center text-dark p-3 sub-footer" style="background-color: rgba(0, 0, 0, 0.2);">
                <div>
                    <span>
                        <a href="https://www.flaticon.com/free-icons/carnival" title="carnival">Carnival</a>
                        &
                        <a href="https://www.flaticon.com/free-icons/poker" title="poker icons">Poker</a>
                        icons created by Freepik - Flaticon
                    </span>
                </div>
                <div>

                </div>
                <div>
                    © 2022 Copyright:
                    <a class="text-dark" href="http://www.travisaroy.com/">Arthur Clevenger & Travis Roy</a>
                </div>
            </div>
    </footer>
</div>


@code {

}