<div class="footer-container">
    <footer class="text-white" style="background-color: #f1f1f1;">
        <div class="container pt-4">
            <div class="row">
                @*<div class="left-container col-2"></div>*@

                <div class="center-container col-6">
                    <div class="row">
                        <div class="col-3 badge-container">
                            <img src="images/visit_mobile_badge_2.png" class="visit-badge-image rounded-circle" />
                        </div>
                        <div class="col-3">
                            <img src="images/gctht_no_bg.png" class="trolley-badge-image" />
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>

                <div class="right-container col-6">
                    <ContactInfo />
                </div>
            </div>
        </div>

        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <div>
                <span>
                    <a href="https://www.flaticon.com/free-icons/carnival" title="carnival">Carnival</a>
                        &
                    <a href="https://www.flaticon.com/free-icons/poker" title="poker icons">Poker</a>
                        icons created by Freepik - Flaticon
                </span>
            </div>
            <div>
                
            </div>
            <div>
                © 2022 Copyright:
                <a class="text-dark" href="http://www.travisaroy.com/">Travis Roy</a>
            </div>
        </div>
    </footer>
</div>


@code {

}