main h1 {
    flex: 1;
}

.main-header {
    padding: 40px;
}

.main-header-image {
    width: 10% !important;
    padding-left: 50px;
}

.main-header-text {
    text-align: left;
    padding-left: 50px;
}

.main-header-book-tour {
    text-align: right;
    padding-right: 50px;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}