<div class="main-header top-row px-4">
    <img src="images/trolley_logo_2.jpg" class="img-fluid main-header-image" alt="Gulf Coast Tours">
    <h1 class="main-header-text">City of Mobile Trolley Tour</h1>
    <div class="main-header-book-tour">
        <a type="button" class="btn btn-outline-dark" href="https://www.gctbus.com/tours" target="_blank">Book a tour</a>
    </div>
</div>

@code {

}

