@inherits LayoutComponentBase

<PageTitle>MobileTrolleyTours</PageTitle>

<div class="row">
    <div class="col">

        <div class="page">
            <main>

                <div class="main-header top-row px-4">
                    @*<div>*@
                        <img src="images/trolley_logo_2.jpg" class="img-fluid main-header-image" alt="Gulf Coast Tours">
                        <h1 class="main-header-text">City of Mobile Trolley Tour</h1>
                    @*</div>*@
                    <div class="main-header-book-tour">
                        <a type="button" class="btn btn-outline-dark" href="https://www.gctbus.com/tours" target="_blank">Book a tour</a>
                    </div>
                </div>

                <article class="content px-4">

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            @Body
                        </div>
                        <div class="col-1"></div>
                    </div>

                </article>

            </main>
        </div>

    </div>
</div>