@inherits LayoutComponentBase

<PageTitle>MobileTrolleyTours</PageTitle>

<div class="row">
    <div class="col">

        <div class="page">
            <main>

                <div class="main-header top-row px-4">
                    <h1 class="main-header-text">City of Mobile Trolley Tours</h1>
                    <div class="main-header-book-tour">
                        <a class="" href="https://www.gctbus.com/tours" target="_blank">Book a tour</a>
                        <p>[ Tours booked through Gulf Coast Tours ]</p>
                    </div>
                </div>

                <article class="content px-4">

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            @Body
                        </div>
                        <div class="col-1"></div>
                    </div>

                </article>

            </main>
        </div>

    </div>
</div>