@page "/"

<PageTitle>Mobile Trolley Tours</PageTitle>

<About />

<StartLocations />

<TourSchedule />

<RouteHighlights />

<OtherTrips />

<div>
    <h3>Groups</h3>
    <p>For parties of 10 or more, please call our office for prices. Special pricing and times can be accommodated for your group.</p>
</div>

<ContactInfo />

<Questions />

<div>
    <p>Our wheel chair lift is available by request only</p>
    <p>We are dog friendly</p>
</div>


<a href="https://www.flaticon.com/free-icons/battleship" title="battleship icons">Battleship icons created by Darius Dan - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/kindergarden" title="kindergarden icons">Kindergarden icons created by Darius Dan - Flaticon</a>

