@page "/"

@*<PageTitle>Mobile Trolley Tours</PageTitle>*@

<div class="row">
    <div class="col-4">
        <StartLocations />
    </div>

    <div class="col-8">
        <About />
    </div>
</div>

<div class="row">
    <TourSchedule />
</div>

<div class="row">
    <div class="col-4">
        <Pricing />
    </div>
    <div class="col-8">
        <RouteHighlights />
    </div>
</div>

<div class="row">
    <div>
        <OtherTrips />
    </div>
</div>

<div>
    <h3>Groups</h3>
    <p>For parties of 10 or more, please call our office for prices. Special pricing and times can be accommodated for your group.</p>
</div>

<div>
    <Questions />
</div>

<div>
    <p>Our wheel chair lift is available by request only</p>
    <p>We are dog friendly</p>
</div>
