@page "/"

@*<PageTitle>Mobile Trolley Tours</PageTitle>*@

<div class="row">
    <div class="col-4">
        <StartLocations />
    </div>

    <div class="col-8">
        <About />
    </div>
</div>

<div class="row">
    <TourSchedule />
</div>

<div class="row">
    <div class="col-4">
        <Pricing />
    </div>
    <div class="col-8">
        <RouteHighlights />
    </div>
</div>

<div class="row">
    <div class="col-4">
        <Questions />
    </div>
    <div class="col-6">
        <Details />
    </div>
</div>

<div class="row">
    <div>
        <OtherTrips />
    </div>
</div>