@page "/"

<div class="row">
    <About />
</div>

<div class="row">
    <StartLocations />
</div>

<div class="row">
    <TourSchedule />
</div>

<div class="row">
    <div class="col-lg-4 col-md-12">
        <Pricing />
    </div>
    <div class="col-lg-8 col-md-12">
        <RouteHighlights />
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-12">
        <Questions />
    </div>
    <div class="col-lg-6 col-md-12">
        <Details />
    </div>
</div>

<div class="row">
    <div>
        <OtherTrips />
    </div>
</div>