@page "/"

<PageTitle>Index</PageTitle>


<SurveyPrompt Title="TITLE PASSED THROUGH" />

<div>
    <h1>City of Mobile Trolley Tour</h1>
</div>

<About />

<div>
    <h3>Only $20.00 per person</h3>
    <h3>kids 12 and under are free!</h3>
</div>

<div>
    <p>Tours leave from the following locations:</p>
    <div>
        <p>Visit Mobile Welcome Center</p>
        <p>111 South Royal Street, Mobile, AL 36602</p>
    </div>
    <div>
        <p>USS Alabama Battleship</p>
        <p>2703 Battleship Parkway, Mobile, AL 36603</p>
    </div>
</div>

<TourSchedule />


@*================================================================================================*@


<div>
    <h3>Tours start at Mobile Visitor Center or USS Alabama</h3>
</div>

<div>
    <h2>Route Highlights</h2>
    <ul>
        <li>Fort Conde</li>
        <li>Church Street Cemetery</li>
        <li>Callahan's Irish Bar / Washington Square</li>
        <li>Oakleigh Historic Complex</li>
        <li>Carnival Museum</li>
        <li>Gulf Quest/AL Cruise and Convention Center</li>
        <li>Battle House Hotel</li>
        <li>Richard's DAR House</li>
        <li>Agrican American Museum</li>
        <li>Cathedral</li>
        <li>Beinville Square</li>
        <li>USS Alabama</li>
    </ul>
</div>

<div>
    <h3>Other Available Trips</h3>
    <ul>
        <li>Alabama football home games</li>
        <li>New Orleans Saints home games</li>
        <li>Mardi Gras trips to New Orleans</li>
        <li>Casino Trips to Biloxi</li>
    </ul>
</div>

<div>
    <h3>Groups</h3>
    <p>For parties of 10 or more, please call our office for prices. Special pricing and times can be accommodated for your group.</p>
</div>

<div>
    <p><span>Office:</span> 251-633-0560</p>
    <p><span>Fax:</span> 251-633-4012</p>
    <p><span>Email:</span> sales@gctbus.com</p>
    <p><span>Book a tour:</span> WWW.GCTBUS.COM</p>
</div>

<div>
    <p>Our wheel chair lift is available by request only</p>
    <p>We are dog friendly</p>
</div>



@*<SurveyPrompt Title="How is Blazor working for you?" />*@

