/* _content/MobileTrolleyTours/Pages/Main/TourSchedule.razor.rz.scp.css */
.tg[b-f4ucs206qy] {
    border-collapse: collapse;
    border-spacing: 0;
}

    .tg td[b-f4ucs206qy] {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th[b-f4ucs206qy] {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-baqh[b-f4ucs206qy] {
        text-align: center;
        vertical-align: top
    }

    .tg .tg-0lax[b-f4ucs206qy] {
        text-align: left;
        vertical-align: top
    }
/* _content/MobileTrolleyTours/Shared/MainLayout.razor.rz.scp.css */
.page[b-5a9guull1n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5a9guull1n] {
    flex: 1;
}

.sidebar[b-5a9guull1n] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5a9guull1n] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5a9guull1n]  a, .top-row .btn-link[b-5a9guull1n] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-5a9guull1n] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5a9guull1n] {
        display: none;
    }

    .top-row.auth[b-5a9guull1n] {
        justify-content: space-between;
    }

    .top-row a[b-5a9guull1n], .top-row .btn-link[b-5a9guull1n] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5a9guull1n] {
        flex-direction: row;
    }

    .sidebar[b-5a9guull1n] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5a9guull1n] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-5a9guull1n], article[b-5a9guull1n] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* _content/MobileTrolleyTours/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gvtjhpdjfo] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gvtjhpdjfo] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gvtjhpdjfo] {
    font-size: 1.1rem;
}

.oi[b-gvtjhpdjfo] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gvtjhpdjfo] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gvtjhpdjfo] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gvtjhpdjfo] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gvtjhpdjfo]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gvtjhpdjfo]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gvtjhpdjfo]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gvtjhpdjfo] {
        display: none;
    }

    .collapse[b-gvtjhpdjfo] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

