@page "/admincontrol"
@using MobileTrolleyTours.Pages.AdminControl

<div class="main-container">

    <div class="alert-section">
        <h2>Alert Box Header</h2>
        <AlertListDisplay PartitionKey="PartitionKeys.AlertBoxHeader" />
        <AlertAddDisplay PartitionKey="PartitionKeys.AlertBoxHeader" />
    </div>

    <div class="alert-section">
        <h2>Alert Box Sub-Header</h2>
        <AlertListDisplay PartitionKey="PartitionKeys.AlertBoxSubHeader" />
        <AlertAddDisplay PartitionKey="PartitionKeys.AlertBoxSubHeader" />
    </div>

    <div class="alert-section">
        <h2>Alert Box Items</h2>
        <AlertListDisplay PartitionKey="PartitionKeys.AlertBoxItem" />
        <AlertAddDisplay PartitionKey=PartitionKeys.AlertBoxItem />
    </div>

    <div class="alert-section">
        <h2>Alert Box Footer</h2>
        <AlertListDisplay PartitionKey="PartitionKeys.AlertBoxFooter" />
        <AlertAddDisplay PartitionKey=PartitionKeys.AlertBoxFooter />
    </div>

</div>


@code {
    
}
