.alert-section {
    margin-bottom: 50px;
}

th, td {
    border: 1px solid black;
    padding: 4px;
}

.table-seperator {
    border: none !important;
    width: 10px;
}

form {
    margin-top: 20px;
}

    form div {
        margin: 8px;
    }

.startDate {
    display: inline-block;
}

.endDate {
    display: inline-block;
}

.description > textarea {
    width: 90%;
}

.applyDate {
    display: inline-block;
}

.revokeDate {
    display: inline-block;
}

.status {
    display: inline-block;
}
