<div class="alert-section">
    <h2>Alert Box Header</h2>
    <p>
        @ScheduleAlertService.GetAlertBoxHeader().Description;
    </p>

    @*<EditForm Model="@newAlert" OnValidSubmit=@ValidNewAlertFormSubmitted OnInvalidSubmit=@InvalidNewAlertFormSubmitted>

            <div class="description">
                <label for="description">Alert Box Header:</label>
                <InputTextArea @bind-Value="@newAlert.Description" id="item-add-header" />
            </div>

        </EditForm>*@
</div>

@code {

}

